$icon-size: 1.5rem;
$icon-content: "\f4a8";
$icon-background: var(--bs-dark);
$icon-foreground: var(--bs-primary);

.eb-time {
    margin: 2rem 0;

    &.show-date-0 {
        .date {
            display: none;
        }
    }

    .content {
        padding: 0rem 1.5rem;
        margin: 0;
        font-size: unset;        
        color: unset;

        p {
            font-weight: 300;
        }

        img {
            height: auto;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .alignleft {
            float: unset;
            margin-right: auto;
        }
        .alignright {
            float: unset;
            margin-left: auto;
        }
    } 
    
    .icon {
        
        margin-left: - $icon-size / 2;
        font-size: $icon-size;
        
        position: relative;

        font-family: bootstrap-icons;

        &::before {
            content: "\f519";
            color: $icon-background;

            transition: color .2s ease-in-out, transform .5s ease;
        }
        
        &::after {
            content: $icon-content;
            color: $icon-foreground;
            
            vertical-align: -.125em;

            position: absolute;
            top: 0;
            left: 0;

            transition: color .2s ease-in-out, transform 0.5s ease;
        }
    }

    &:hover, &:active, &:focus {
        .icon::after,
        .icon::before {
            // color: #fff;
            transform: rotate(90deg) scale(1.3, 1.3);
        }
    }
}