.eb-content {
    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6 {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        // color: $primary;
    } 

    p {
        line-height: 1.5rem;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
}