.eb-transform {

    .meta {
        .optionals {
            position: relative;

            padding: 1rem 1rem;
            margin: 0 -1rem -1rem;

            &.show-title {
                padding-top: 0;
            }

            > .title {
                position: absolute;
                top: 0;
                left: .25rem;
                margin-top: -.75rem;
            }

            .continue {
                margin-top: 1rem;
            }
        }
    }
    
    .form-parent {
        box-sizing: border-box;
        overflow: visible;
        
    
        .form {
            position: sticky;
            top: 15px;

            border: solid 1px var(--bs-secondary);
        }
    }
}

@media all and (min-width: 1024.1px) {
    
    .eb-transform {

        .form-parent {

            .form {
            }

        }
        
    }
}

@media all and (max-width: 576px) { 
    
    .eb-transform {

        .meta {
            .optionals {
                margin: unset;
            }
        }
    }
}
