
.eb-testimonial {
    &.carousel-item {
        .content {
            margin: 2% 8% 4%;
            .author-image {
                height: 60px;
                width: 60px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}