$red: var(--bs-primary);
$gray: var(--bs-secondary);

$rounded_height: 4.2799vw;
$right_height: 40px;
$edge_width: 100vw;
$edge_angle: 1.5deg;
$edge_translate_q: 2;

$icon-width: 1.25rem;

$margin: $rounded_height;

.eb-ribbon {

    position: relative;

    .main-part {
        position: relative;
        z-index: 2;

        .accordion-header {
            .accordion-button {
                background-color: transparent !important;
                color: white !important;

                &:focus, &:active {
                    border: unset;
                    box-shadow: unset;
                }
            }
        }
    }

    .top-part, .bottom-part {
        z-index: 1;

        svg {
            display: none;
        }
    }

    &.eb- {
        &align- {
            // &left {
            //     .top-part {
            //         transform: rotate($edge_angle) translate(0, $edge_height / $edge_translate_q);
            //     }

            //     .bottom-part {
            //         transform: rotate($edge_angle) translate(0, -$edge_height / $edge_translate_q);
            //     }
            // }
            // &right {
            //     .top-part {
            //         transform: rotate(-$edge_angle) translate(0, $edge_height / $edge_translate_q);
            //     }

            //     .bottom-part {
            //         transform: rotate(-$edge_angle) translate(0, -$edge_height / $edge_translate_q);
            //     }
            // }
        }

        &bg- {
            &red {
                .main-part {
                    background-color: $red;

                    *::selection {
                        background-color: #111 !important;
                        color: white !important;
                    }
                }

                .top-part, .bottom-part {

                    svg {
                        * {
                            fill: $red;
                        }
                    }
                }
            }

            &gray {
                .main-part {
                    background-color: $gray;
                }

                .top-part, .bottom-part {

                    svg {
                        * {
                            fill: $gray;
                        }
                    }
                }
            }
        }
        

        &style- {
            &rounded {

                margin-top: -$rounded_height;

                &:first-of-type {
                    margin-top: 0;
                }

                &:last-of-type {
                    margin-bottom: $margin;
                }

                .top-part, .bottom-part {
                    // position: absolute;
                    // height: $edge_height;
                    // width: $edge_width;
            
                    // transform: rotate($edge_angle) 
                    // translate(0, -$edge_height/2);
                        
                    margin: -1px 0;

                    svg {
                        display: block;
                    }
                }
            }

            &right {

                margin-top: $right_height;
                margin-bottom: $right_height;

                &:first-of-type {
                    margin-top: $margin;
                }

                .top-part, .bottom-part {
                    position: absolute;
                    height: $right_height;
                    width: $edge_width;
            
                    transform: rotate($edge_angle) 
                    translate(0, -$right_height/2);
                }

                &.eb-bg-red {
                    .top-part, .bottom-part {
                        background-color: $red;
                    }
                }

                &.eb-bg-gray {
                    .top-part, .bottom-part {
                        background-color: $gray;
                    }
                }
            }
        }
    }
}