.eb-stripe {
    position: relative;
    background: #1A1A1A;
    background: linear-gradient(240deg, #222 70%, #111);

    .brand {

        .brand-img {
            width: 300px;
            height: auto;
        }
    }

    .wrap {
        .shortcode {
            form {

            }
        }
    }
}