
$background_top: rgba(#000, 0);
$background_bottom: rgba(#000, 1);

.eb-catalog {

    .card {
        position: relative;

        .image-placeholder {
            background-color: var(--bs-secondary);
            border-radius: inherit;
            position: relative;
            padding-bottom: 66.66%;

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: var(--bs-primary);
            }
        }
        
        .card-body {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            
            z-index: 2;

            .title {

                &:hover, &:active, &:focus {
                    color: var(--bs-primary) !important;
                }
            }
        }

        &::before {
            content: '';
    
            position: absolute;
    
            left: 0;
            bottom: 0;
            right: 0;

            z-index: 1;

            height: 80%;
            width: 100%;
            background: linear-gradient($background_top, $background_bottom 90%);
        }
    }
}