.eb-transform {
    
    .form {
        border: solid 1px var(--bs-secondary);
        
        input, textarea {
            border: solid 1px var(--bs-secondary);

            &[type="checkbox"] {
                background-color: var(--bs-dark);
            }
        }
    }
}

@media all and (min-width: 1024.1px) {
    
    .eb-transform {
        overflow: auto;

        .meta {
            .optionals {
                position: relative;

                > .title {
                    position: absolute;
                    top: 0;
                    left: .25rem;
                    margin-top: -.75rem;
                }

                .continue {
                    margin-top: 1rem;
                }
            }
        }

        .form-parent {
            overflow: auto;

            .form {
                position: -webkit-sticky !important;
                position: sticky !important;
                top: 0;
            }

        }
        
    }
}